<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userEntity">
            <h2><span jhiTranslate="polySignApp.userEntity.detail.title">User Entity</span> {{ userEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="polySignApp.userEntity.firstname">Firstname</span></dt>
                <dd>
                    <span>{{ userEntity.firstname }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.userEntity.lastname">Lastname</span></dt>
                <dd>
                    <span>{{ userEntity.lastname }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.userEntity.email">Email</span></dt>
                <dd>
                    <span>{{ userEntity.email }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.userEntity.phone">Phone</span></dt>
                <dd>
                    <span>{{ userEntity.phone }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.userEntity.user">User</span></dt>
                <dd>
                    {{ userEntity.user?.firstName }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-entity', userEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
