<div class="row justify-content-center">
    <div class="col-8">
        <!--<canvas #canvas></canvas>-->
        <div *ngIf="signedFile">
            <h2><span jhiTranslate="polySignApp.signedFile.detail.title">Signed File</span> {{ signedFile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="polySignApp.signedFile.filename">Filename</span></dt>
                <dd>
                    <span>{{ signedFile.filename }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.signedFile.fileBytes">File Bytes</span></dt>
                <dd>
                    <div *ngIf="signedFile.fileBytes">
                        <a (click)="openFile(signedFile.fileBytesContentType, signedFile.fileBytes)" jhiTranslate="entity.action.open">open</a>
                        {{ signedFile.fileBytesContentType }}, {{ byteSize(signedFile.fileBytes) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="polySignApp.signedFile.signingDate">Signing Date</span></dt>
                <dd>
                    <span>{{ signedFile.signingDate }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.signedFile.size">Size</span></dt>
                <dd>
                    <span>{{ signedFile.size }}</span>
                </dd>
                <dt><span jhiTranslate="polySignApp.signedFile.sha256">Sha 256</span></dt>
                <dd>
                    <span>{{ signedFile.sha256 }}</span>
                </dd>
            </dl>

            <div class="row">
            
                <div class="col-md-12">
                <ngx-extended-pdf-viewer
                [base64Src]="signedFile.fileBytes"
                backgroundColor="#ffffff"
                [height]="'80vh'"
                [useBrowserLocale]="true"
                [handTool]="false"
                [showHandToolButton]="true"> </ngx-extended-pdf-viewer>

             </div>
            </div>
           <div></div> 
            <div>
            <button class="btn btn-primary" mat-stroked-button color="primary" [disabled]="pageNum<=1" (click)="onClickPreviousePage()">Page précédente</button>
            <span  mat-stroked-button>{{pageNum}}/{{totalPageNum}}</span>
            <button class="btn btn-primary" color="accent" [disabled]="pageNum>=totalPageNum" (click)="onClickNextPage()">Page suivante</button>
            </div> 

        </div>
        <canvas #canvas></canvas>
        <div cdkDrag class="example-box"
        (cdkDragStarted)="dragStarted($event)"
        (cdkDragEnded)="dragEnded($event)"
        (cdkDragMoved)="dragMoved($event)">
        <div *ngIf="isAuthenticated()" >
        <span  *ngIf="account"  >
           {{ account.firstName}}
        </span>
       </div>
     </div>
     <p>{{state}} {{position}}</p>

        <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/signed-file', signedFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
    </div>
</div>

