<div>
    <h2 id="page-heading">
        <span jhiTranslate="polySignApp.signedFile.home.title">Signed Files</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-signed-file" [routerLink]="['/signed-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="polySignApp.signedFile.home.createLabel">
            Create a new Signed File
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="signedFiles?.length === 0">
        <span jhiTranslate="polySignApp.signedFile.home.notFound">No signedFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="signedFiles && signedFiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filename"><span jhiTranslate="polySignApp.signedFile.filename">Filename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileBytes"><span jhiTranslate="polySignApp.signedFile.fileBytes">File Bytes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="signingDate"><span jhiTranslate="polySignApp.signedFile.signingDate">Signing Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="size"><span jhiTranslate="polySignApp.signedFile.size">Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="signature.id"><span jhiTranslate="polySignApp.signedFile.signature">Signature</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let signedFile of signedFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/signed-file', signedFile.id, 'view']">{{ signedFile.id }}</a></td>
                    <td>{{ signedFile.filename }}</td>
                    <td>
                        <a *ngIf="signedFile.fileBytes" (click)="openFile(signedFile.fileBytesContentType, signedFile.fileBytes)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="signedFile.fileBytes">{{ signedFile.fileBytesContentType }}, {{ byteSize(signedFile.fileBytes) }}</span>
                    </td>
                    <td>{{ signedFile.signingDate | date:'medium' }}</td>
                    <td>{{ signedFile.size }}</td>
                    <td>
                        <div *ngIf="signedFile.signature">
                            <a [routerLink]="['/signature-process', signedFile.signature?.id, 'view']" >{{ signedFile.signature?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/signed-file', signedFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/signed-file', signedFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(signedFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="signedFiles && signedFiles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
