<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-authorit-heading" jhiTranslate="polySignApp.authorit.home.createOrEditLabel">Create or edit a Authorit</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="polySignApp.authorit.hasRole" for="field_hasRole">Has Role</label>
                    <select class="form-control" name="hasRole" formControlName="hasRole" id="field_hasRole">
                        <option value="ADMIN_ORGANIZATION">{{ 'polySignApp.Role.ADMIN_ORGANIZATION' | translate }}</option>
                        <option value="USER_ORGANIZATION">{{ 'polySignApp.Role.USER_ORGANIZATION' | translate }}</option>
                        <option value="SIGNER">{{ 'polySignApp.Role.SIGNER' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('hasRole')!.invalid && (editForm.get('hasRole')!.dirty || editForm.get('hasRole')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasRole')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="polySignApp.authorit.organization" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" formControlName="organization">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationOption.id === editForm.get('organization')!.value?.id ? editForm.get('organization')!.value : organizationOption" *ngFor="let organizationOption of organizations; trackBy: trackById">{{ organizationOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="polySignApp.authorit.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userEntityOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userEntityOption" *ngFor="let userEntityOption of userentities; trackBy: trackById">{{ userEntityOption.firstname }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
